html {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f2f2f2;
}

.max-length {
  background-color: #fff;
}

h1 {
  border-bottom: solid 2px #000;
}

input, select, textarea {
  border-color: #f2f2f2;
}

fieldset {
  padding: 0;
}

@media only screen and (min-width: 60em) {

  .grid:nth-child(3), .grid:first-child {
    padding-right: 1rem;
  }

}
